*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  background: #ffffff;
  color: #000000;
  height: 100%;
}

body {
  min-height: 100vh;
}

.home-cta-button:hover {
  opacity: 0.8;
}
